*.iml
.gradle
/local.properties
# IntelliJ IDEA / Android Studio
# .idea/ は基本的に無視するが、チーム共有すべき設定だけ追跡する
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Node.js (husky)
node_modules/
